投稿diary

		<table>
			<tbody>
				<% @diary.each do |diary| %>

					<td><%= diary.body %></td>
					<td><%= link_to 'Show', diary, class: "show_#{diary.id}" %></td>
                  <% end %>
                </tr>
	        </tbody>
		</table>