<div class="container">
 <h2>新規投稿</h2>
 <% if @diary.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@diary.errors.count, "件 エラー") %> </h3>
      <ul>
        <% @diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
 <div class="row">
  <%= form_with model: @diary, url:'/diaries', local:true do |f| %>
   <h4>日記</h4>
   <p>*良かったこと1件につき、1回投稿してください。</p>
   <%= f.text_area :body, size:"90x6"  %>
   <button type="submit" class="btn btn-primary">投稿</button>
 <% end %>
 </div>
</div>