<div class="about">
  <%= image_tag  "notebook_TP_V.jpg" %>

<p>「スリーグッドシングス」とは、<br>人の脳は、「ネガティブな出来事ばかりを何度も思い返し、記憶に残す」<br>という性質があります。
その結果、現実以上に人生が暗く感じてしまう。 その、脳の悪いクセを修正しましょう、というのが<br>「スリーグッドシングス」なのです。
ポジティブな出来事を思い返すことが増えれば、人生全体が明るく感じる、不安や落ち込みが減る、ストレスに強くなるというわけです。<br>
方法は、その日あった良かったことを3つ書くだけです。<br>
当サイトはそんな素敵な、「スリーグッドシングス」をサポートする目的で作成されました。</p >
</div>