<div class ="top">
 <div class ="site-name">
  <h1> Three Good Things Diary</h1>
 </div>
 <h2>はじめよう、素敵な習慣</h2>
 <div class="row">
  <p><%= link_to 'ログイン', new_user_session_path, class: "btn btn-info col-xs-5 col-xs-offset-3" %></p>
 </div>
 <div class="row">
  <p><%= link_to '新規登録', new_user_registration_path, class: "btn btn-success col-xs-5 col-xs-offset-3" %></p>
 </div>
  <div class="row">
  <p><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-warning col-xs-5 col-xs-offset-3" %></p>
 </div>
</div>